<% title "About the Project", false %>

<header class="project-logos">
<%= image_tag "ganch_logo.png", class: 'logo ganch' %>
<%= image_tag "aucrwwl_logo.jpg", class: 'logo aucrwwl' %>
</header>


<article class="about-the-project">
  <h1>About the Project</h1>
  <section>
    <p>The <%= link_to('Atlanta University Center Robert W. Woodruff Library', 'https://www.auctr.edu/', { target: '_new' }) %> would like to gratefully acknowledge <%= link_to('LYRASIS', 'https://www.lyrasis.org', { target: '_new' }) %> for their support of this project via a 2019 LYRASIS Catalyst Fund grant.</p>
  </section>
  <section>
    <h2>Partners</h2>
  </section>
    <section>
    <h2>Team Members</h2>
  </section>

</article>