<div id="map">
<% @markers = [
      {
        :latlng => [32.8408677, -83.2727063],
        :popup => "Map Center",
        :icon => {:icon_url => 'https://unpkg.com/leaflet@1.6.0/dist/images/marker-icon.png'}
      }
    ] %>
<% @query.body.each do |row| %>
  <% if !row['coordinate_location'].nil? %>
  <% @latlng = row['coordinate_location']['value'].match(/Point\((.+)\)/)[1].split(" ") %>
  <% @markers << { :latlng => [@latlng[1], @latlng[0]], :popup => get_row_label(row), :icon => {:icon_url => 'https://unpkg.com/leaflet@1.6.0/dist/images/marker-icon.png'}} %>
  <% end %>
<% end %>
<% @myMap = map(:center => {
  :container_id => 'map',
  :latlng => [32.8408677, -83.2727063],
  :zoom => 7
  },
  :markers => @markers ) %>
<%= @myMap %>
</div>