<div id="map" class="ganch-map">
  <% @markers = [] %>
  <% @query.body.each do |row| %>
    <% if !row['coordinate_location'].nil? %>
    <% @latlng = row['coordinate_location']['value'].match(/Point\((.+)\)/)[1].split(" ") %>
    <% @marker_label = get_marker_pin_label(row) %>
    <% @marker_link = get_marker_pin_url(row) %>
    <% @pin = render_pin(row) %>
    <% @markers << { :latlng => [@latlng[1], @latlng[0]], :popup => @pin, :icon => {:icon_url => 'https://unpkg.com/leaflet@1.6.0/dist/images/marker-icon.png'}} %>
    <% end %>
  <% end %>
  <% @myMap = map(:center => {
    :container_id => 'map',
    :latlng => [32.8408677, -83.2727063],
    :zoom => 7
    },
    :markers => @markers ) %>
  <%= @myMap %>
</div>