<% headers, body = merge_first_and_label(@query.headers, @query.body) %>
<table id="table" data-toggle="table" data-sortable="true" data-search="true" class="ganch-table table-striped">
  <thead class="thead">
    <% headers.each do |column| %>
      <th data-field="<%= column %>" data-sortable="true"><%= column %><i class="fas fa-flag"></i></th>
    <% end %>
  </thead>
  <tbody>
    <% body.each do |row| %>
      <tr>
        <% headers.each do |col| %>
          <td>
            <% if !row[col].nil? %>
              <% if row[col]['as_link'] %>
                <%= row[col]['as_link'] %>
              <% else %>
                <%= row[col]['value'] || '' %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>