<div style="margin: 30px;">
<h1 style="margin-bottom: 20px;"><%= "\u26D4" %>Signups are not allowed at this time. <%= "\u26D4" %></h1>
<p>Please contact <%= @email %> if you need support.</p>
</div>
<%= link_to 'Back', users_path, class: "btn btn-secondary" %>
