<div class="logos" style="width: 100%; min-height: 4rem; margin-bottom: 10px; display: flex; flex-wrap: wrap; align-items: center;">
  <img src="https:<%= image_path 'ganch_logo.png' %>" class="logo ganch-logo" alt="Georgia’s Natural Cultural and Historic Organizations for Disaster Response logo" title="GaNCH logo" height="64" width="177" style="display:block; height:4rem; margin-right:1rem;" />
  <img src="https:<%= image_path 'aucrwwl_logo.jpg' %>" class="logo aucrwwl-logo" alt="Atlanta University Center Robert W. Woodruff Library logo" title="AUC logo" height="64" width="297" style="display:block; height:4rem; margin-right:1rem;" />
</div>