@import './bootstrap_custom.scss';

$nav-height: 56px;
body {
  /* override some bootstrap grid settings */
  a:visited {
    color: darkblue;
  }
}

/* override some bootstrap grid settings */
main.container {
  margin-top: 56px;
}

.thead {
  background-color: #fafafa;
}

#map {
  height: 680px;
  border: thin solid lightgray;
}

.btn-secondary:visited {
  color: white;
}

.ganch-map {
  margin-bottom: 2rem;
}

.ganch-table {
  a:hover {
    background-color: white;
  }
  a:visited {
    color: darkblue;
  }
}

.card-view-title {
  margin-right: 0.5em;
  &:after {
    content: ':';
  }
}

.recipient-table {
  td.phone {
    min-width: 10em;
  }
  td.query {
    min-width: 10em;
  }
}

.scoped-queries-title {
  text-transform: uppercase;
}

.home-description {
  margin-bottom: 3rem;
}

.home-nav {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  form, .form-group {
    width: 100%;
  }
  label {
    text-align: center;
    width: 100%;
  }
  @media screen and (max-width: 765px) {
    form, label, button {
      max-width: 300px;
    }
  }
}

.project-logos {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
  .logo {
    margin-bottom: 10px;
  }
  .aucrwwl {
    @media screen and (min-width: 576px) {
      max-height: 100px;
      margin-left: auto;
      padding: 0;
    }
  }
}

.about-the-project {
  h1, h2 {
    font-size: 20px;
  }
  section {
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.query-title-container {
  display: flex;
  .wikidata-link {
    align-self: center;
    margin-left: auto;
    margin-bottom: 0;
  }
}

footer {
  margin: 30px 0;
}