@import './bootstrap_custom.scss';

$nav-height: 56px;
main.container {
  margin-top: 56px;
}

.thead {
  background-color: #fafafa;
}

#map {
  height: 680px;
  border: thin solid lightgray;
}

.btn-secondary:visited {
  color: white;
}