<div class="row">
  <div class="col-sm-2 col-12">
    <span><strong>Title</strong></span>
    <span><%= @query.title %></span>
  </div>
  <div class="col-sm-5 col-12">
    <span><strong>Request</strong></span>
    <span><%= @query.request %></span>
  </div>
  <div class="col-sm-5 col-12">
    <span><strong>Response</strong></span>
    <span><%= truncate query.response %></span>
  </div>
</div>